.test {
  background: #e85ac0;
  font-size: 24px;
}
.redondeado {
  border-radius: 5px;
  background: #f00;
}
a {
  text-decoration: none;
  color: #4824b3;
}
h1 {
  font-size: 50px;
  background: #add8e6;
  border-top: 100px;
}
* {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}
h1 {
  width: 50%;
}
body {
  font-size: 16px;
  background: #0cf;
}
header {
  background: #add8e6;
}
header figure {
  margin: 0;
  float: left;
}
h1 {
/*border-top:solid 1px red;
	border-left:dashed 1px blue;
	border-right:dotted 1px green;
	border-bottom:solid 1px pink;
	border: solid 1px red; */
  padding: 30px 10px 25px 30px;
  margin: 0px 250px;
  font-size: 40px;
  margin-right: 200px;
  margin-left: 200px;
  text-decoration: underline;
  text-align: center;
}
header h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#navegacion {
  background: #000;
  color: #fff;
}
#navegacion ul {
  margin-top: 0px;
}
#navegacion ul li {
  background: #9cf;
  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
}
#navegacion ul li a {
  text-decoration: none;
  color: #fff;
}
#navegacion ul li:hover {
  background: #a9a9a9;
}
body {
  margin-left: 200px;
  margin-right: 200px;
  float: justify;
}
section {
  color: #00f;
  background: #cff;
  text-align: justify;
}
h1 {
  font-variant: small-caps;
}
#table {
  text-align: center;
}
