@import 'variables'
redondeado(cant)
	border-radius cant
.test
	background $rosita
	font-size $fontcabecera
.redondeado
	redondeado(5px)
	background red;
a
	text-decoration none
	color $lila
h1
	font-size 50px;
	background lightblue;
	border-top 100px;

*{
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}


h1{
	width: 50%;

}

body{
	font-size: 16px;
	background: #00CCFF;
}
header{
	background: lightblue;

}
header figure{
	margin: 0;
	float: left;
}
h1{
	/*border-top:solid 1px red;
	border-left:dashed 1px blue;
	border-right:dotted 1px green;
	border-bottom:solid 1px pink;
	border: solid 1px red; */
	padding: 30px 10px 25px 30px;
	margin: 0px 250px;
	font-size: 40px;
	margin-right: 200px;
	margin-left: 200px;
	text-decoration: underline;
	text-align: center;
	
}
header h1{
	margin-top: 10px;
	margin-bottom: 10px;
}
#navegacion{
	background: black;
	color: white;
}
#navegacion ul{
	margin-top: 0px;
}
#navegacion ul li{
	background: #99CCFF;
	display: inline;
	padding-top: 10px;
	padding-bottom: 10px;
}
#navegacion ul li a{
	text-decoration: none;
	color: white;
}
#navegacion ul li:hover{
	background: darkgrey;
}

body{
	margin-left: 200px;
	margin-right: 200px;
	float: justify;
}
section{
	color: blue;
	background: #CCFFFF;
	text-align: justify;
}
h1{
	font-variant: small-caps;
}
#table{
	text-align: center;
}
	
// stylus -w stilos.styl